body {
	background: orange;
}
h1 {
	text-align: center;
}
.corpo {
	width: 350px;
	height: 500px;
	background: #333;
	margin: auto;
	border-radius: 25px;
	padding: 20px;
}
#tela {
	width: 300px;
	height: 60px;
	margin: 0 auto;
	position: relative;
	top: 20px;
	background: #ddd;
	border: 5px solid black;
	border-radius: 10px;
	font-size: 50px;
	text-align: right;
	padding: 5px;
}
table {
	margin: auto;
	margin-top: 25px;
}
.botao {
	background-color: white;
	width: 65px;
	height: 65px;
	text-align: center;
	font-size: 30px;
	border-radius: 10px;
	border: 3.5px solid black;
	cursor: pointer;
	margin: 1px;
}
.botao:hover {
	background-color: #ccc;
}
.rodape{
	text-align: center;
}
